@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Fraunces', serif; */
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.product-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 450px;
    background-color: hsl(0, 0%, 100%);
}

.img {
    height: 450px;
}

.product-cart .img img {
    width: 300px;
}

.content {
    background-color: hsl(0, 0%, 100%);
    width: 300px;
    padding: 30px;
}